*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#111;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');



:root {
  --font-base :'lexend',sans-serif;;
  --font-second-base: 'Inter', sans-serif;
  --bg-color: #111;
  --primary-color:#ffffff;
  --secondrary-color:#e50914;

}